<!DOCTYPE html>
<html class="ui-mobile">
	
    <head>
		<meta charset="utf-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport"/>
		<title>title1</title>
		<link href="../jquery_mobile/favicon.ico" rel="shortcut icon"/>
		<link href="../jquery_mobile/css/font_googleapis.css" rel="stylesheet"/>
		<link href="../jquery_mobile/css/themes/default/jquery.mobile-1.4.5.min.css" rel="stylesheet"/>
		<link href="../jquery_mobile/_assets/css/jqm-demos.css" rel="stylesheet"/>
		<script src="../jquery_mobile/js/jquery.js"/>
		<script src="../jquery_mobile/js/jquery.mobile-1.4.5.min.js"/>
		<script>
			function clickNav(id) {
				window.location.href = "../" + id;
			}
		</script>
		<style id="inset-tablist"/>
    </head>
    

	<body>
		<div data-role="page" id="myPage">
			<div data-role="header">
				<h1>h1</h1>
				<div id="nav">
					<a class="nav-btn" href="javascript:void clickNav('truck')">车辆表</a>
					<a class="nav-btn" href="javascript:void clickNav('customer')">客户表</a>
					<a class="nav-btn" href="javascript:void clickNav('employee')">员工表</a>
					<a class="nav-btn" href="javascript:void clickNav('project')">工程表</a>
					<a class="nav-btn" href="javascript:void clickNav('schedule')">调度表</a>
					<a class="nav-btn" href="javascript:void clickNav('productionPlan')">生产计划表</a>
					<a class="nav-btn" href="javascript:void clickNav('volumnStatisticsPumpCar')">车辆维修单</a>
					<a class="nav-btn" href="javascript:void clickNav('route')">路由表</a>
				</div>
			</div>
		
			<div id="thymeleafContent">
				<div th:replace="${view} :: thymeleafContent"></div>
			</div>
		
			<div data-role="footer">
				<h1>作者: 王祥 联系方式：376752150@qq.com</h1>
			</div>
		</div>
	</body>
</html>