
<div class="thymeleafContentContainer" th:fragment="thymeleafContent">
    <head>
    	<meta charset="utf-8"/>
    	<script type="text/javascript" src="../js/customer.js"></script>
    </head>
     
	<div class="ui-content jqm-content jqm-fullwidth" role="main">
		<div>
			<table><tr>
				<td>
					<ul id="autocomplete_searchByName" data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="查找客户" data-filter-theme="d"></ul>
				</td>
				<td><button id="btn-get-data" class="ui-btn ui-corner-all">查询</button></td>
			</tr></table>
			
			<table><tr>
				<td>输入页码:</td>
				<td><input id="element-selector-page" value="1" data-clear-btn="]" type="number" onchange="" min="1"/></td>
				<td>(比如输入1将查询第一页数据):</td>
			</tr></table>
			
			<div id="msg"></div>
			<div id="dialog-error-msg" data-role="popup" data-overlay-theme="b" class="ui-content">
				<div id="error-msg"></div>
				<a href="#" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-shadow ui-icon-delete" data-rel="back">OK</a>
			</div>
		
			<table>
				<tr>
					<td><a href="#dialog-element-create" data-rel="popup" data-position-to="window" data-transition="pop" class="btn-searchTrigger ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all">No text</a></td>
					<td><a id="pop-up-btn-export-excel" href="#" class="ui-btn ui-icon-mail ui-btn-icon-notext ui-corner-all">导出excel</a></td>
				</tr>
			</table>
		</div>
		
		<div>
			<table data-role="table" id="table-element" data-mode="columntoggle" class="ui-responsive table-stroke" data-column-btn-text="选择列">
				<thead>
					<tr>
						<th data-priority="1">编号</th>
						<th>公司名称</th>
						<th data-priority="2">备注</th>
						<th data-priority="3">状态</th>
						<th data-priority="4">修改</th>
						<th data-priority="5">删除</th>
					</tr>
	 			</thead>
	 			<tbody id="tbProp">
					
				</tbody>
		   </table>
		</div>
		
		<div id="dialog-element-create" data-role="popup" data-overlay-theme="b" class="ui-content">
			<form id="form-create-element" data-ajax="false">
				公司名称<input type="text" id="create-element-name" name="name" placeholder="公司名称" data-clear-btn="true"/>
				备注<input type="text" id="create-element-description" name="description" placeholder="备注" data-clear-btn="true"/>
				状态<input type="text" id="create-element-state" name="state" value="0" placeholder="状态" data-clear-btn="true"/>
				<div data-role="controlgroup" data-type="horizontal" >
					<a id="btn-create-element" href="#" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-shadow">创建</a>
					<a href="#" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-shadow ui-icon-delete" data-rel="back">取消</a>
				</div>
			</form>
		</div>
		
		<div id="dialog-element-modify" data-role="popup" data-overlay-theme="b" class="ui-content">
			<form id="form-modify-element" data-ajax="false">
				编号<input id="modify-element-id" type="text" name="id" readonly="true"/>
				公司名称<input id="modify-element-name" type="text" name="name" placeholder="公司名称" data-clear-btn="true"/> 
				备注<input id="modify-element-description" type="text" name="description" placeholder="备注" data-clear-btn="true"/>
				状态<input id="modify-element-state" type="text" name="state" placeholder="状态" data-clear-btn="true"/>
				<div data-role="controlgroup" data-type="horizontal">
					<a id="btn-modify-element" href="#" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-shadow">修改</a>
					<a href="#" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-shadow ui-icon-delete" data-rel="back">取消</a>
				</div>
			</form>
		</div>
		
		<div id="dialog-element-delete" data-role="popup" data-overlay-theme="b" class="ui-content">
			<form id="form-delete-element" data-ajax="false">
				编号<input id="delete-element-id" type="text" name="id" readonly="true"/>
				公司名称<input id="delete-element-name" type="text" placeholder="公司名称" readonly="true"/> 
				备注<input id="delete-element-description" type="text" placeholder="备注" readonly="true"/>
				状态<input id="delete-element-state" type="text" placeholder="状态" readonly="true"/>
				<div data-role="controlgroup" data-type="horizontal" >
					<a id="btn-delete-element" href="#" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-shadow">删除</a>
					<a href="#" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-shadow ui-icon-delete" data-rel="back">取消</a>
				</div>
			</form>
		</div>
	</div><!-- /content -->
	
</div>